<div class="col-sm-{{ col }}">
  <div class="card shadow-lg  text-center  h-100 w-100">
    <div class="card-header  text-center  bg-{{ bg }} text-white h-50 d-flex justify-content-center align-items-center">
      <h4>{{ titre }}</h4>
    </div>
    <div class="card-body text-center">
      <p class="fw-bolder fs-1">{{ cardinfo  }}</p>
      {% if cardinfoplus %}
      <span class="fw-bold fs-5 text-primary">{% widthratio cardinfo cardinfoplus 100 %} %</span>
      {% endif %}
    </div>
    <div class="card-footer">
      <i class="fa-solid fa-{{ icon }} fa-2xl"></i>
    </div>
  </div>
</div>