<!-- ZONE DE FILTRE PAR REGION/PROVINCE  -->
<div class="row gx-2 gx-lg-5 align-items-center my-2 justify-content-center">
    <div class="col-sm-12 col-md-6 d-flex justify-content-center">
        <div class="card h-100 col-md-12 col-sm-12 shadow">
            <div class="card-body justify-content-between">
                <form class="form row gx-sm-2 gx-4" method="get">
                    <div class="col-5">
                        <select class="form-select text-center" name="region" id="region" placeholder="الجهة">
                            <option value="null">الجهة</option>
                            {% for region in regions %}
                                <option value="{{ region.pk }}" {% if region.pk == region_selected %}selected{% endif %}>{{ region.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-5">
                        <select class="form-select text-center" name="province" id="province" placeholder="الإقليم">
                            <option value="null">الإقليم</option>
                            {% for province in provinces %}
                                <option value="{{ province.pk }}" {% if province.pk == province_selected %}selected{% endif %}>{{ province.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-solid fa-magnifying-glass">البحث</i></button>
                    </div>
                </form>
            </div>
            <!--
            <div class="card-footer col-12 text-center">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-solid fa-magnifying-glass"></i></button>
            </div> -->
        </div>
    </div>
  </div>
  <!-- FIN DE ZONE DE FILTRE -->