{% extends "frontend/index.html" %}
{% load static %}{% load i18n grp_tags %}{% load qr_code %}
{% block title %}خدماتي - COAPH - المشاريع المدرة للدخل{% endblock %}
{% block extrahead %}
<script type="text/javascript">
</script>
{% endblock %}
{% block content %}
<div class="row gx-4 gx-lg-6 my-4 d-flex align-items-center justify-content-center">
<h3 class="col-12 text-center">تتبع المشاريع المدرة للدخل</h3>
</div>
<form method="get" class="form d-flex align-items-center justify-content-center">
<div class="row">
  <div class="col-8">
    <input class="form-control" type="text" required name="num_demande" placeholder="قم بإدخال رقم الطلب هنا" id="numeroD"/>
  </div>
  <div class="col-4">
    <button class="btn btn-primary h-100" id="get_dem" type="sumbit"><i class="fas fa-search"></i> البحث</button>
  </div>
</div>
</form>
{% if error %}
<div class="d-flex justify-content-center col-12 my-4">
     <p class="alert alert-danger col-12"><i class="fas fa-circle-exclamation"></i> لا يوجد أي طلب بهذا الرقم. المرجو تصحيح رقم الطلب</p>
</div>
{% else %}
{% if projet.pk %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-md-12 align-items-center">
    <div class="card col-md-12 h-100 align-items-center">
      <h3 class="card-header col-12 text-center"><center>معلومات حول الطلب</center></h3>
      <div class="card-body">
        <div class="card-text">
          <form class="row g-3">
            <div class="col-md-6 col-sm-12">
              <label for="projet_pk" class="form-label col-3">رقم الطلب</label>
              <input type="text" name="projet_pk" class="input form-control col-8" disabled value="{{ projet.pk}}" class="form-control col-8" readonly/>
            </div>
            <div class="col-md-6  col-sm-12">
              <label for="projet_dated" class="form-label col-3">تاريخ الطلب</label>
              <input type="text" name="projet_dated" class="input form-control col-8" disabled value="{{ projet.date_demande}}" readonly />
            </div>
            {% comment %}{% for ben in projet.porteur.all %}
            <div class="col-md-6  col-sm-12">
              <label class="form-label col-3" for="projet_ben">حامل المشروع</label>
              <input type="text" name="projet_ben" class="input form-control col-8" disabled value="{{ ben.beneficiaire.nom_ar}} {{ ben.beneficiaire.prenom_ar}}" class="form-control col-9" readonly />
            </div>
            <div class="col-md-6  col-sm-12">
              <label class="form-label col-3" for="projet_cin">رقم البطاقة الوطنية</label>
              <input type="text" name="projet_cin" class="input form-control col-8" disabled value="{{ ben.beneficiaire.cin}}" readonly />
            </div>
            {% endfor %}
            {% endcomment %}
            <div class="col-md-6 col-sm-12">
              <label class="form-label col-3" for="projet_etap">مرحلة الطلب</label>
              <input type="text" class="input form-control col-8" disabled name="projet_etap" value="{{ projet.get_etape }}" readonly />
            </div>
            <div class="col-md-6  col-sm-12">
              <label class="form-label col-3" for="projet_etapd">تاريخ المرحلة</label>
              <input type="text" class="input form-control col-8" disabled name="projet_etapd" value="{{ projet.get_etape_date }}" class="form-control col-8" readonly />
            </div>
            <div class="col-md-6  col-sm-12">
              <label class="form-label col-3" for="projet_etapd">اسم المشروع</label>
              <input type="text" class="input form-control col-8" disabled name="projet_etapd" value="{{ projet.intitule }}" readonly />
            </div>
            <div class="col-md-6  col-sm-12">
              <label class="form-label col-3" for="projet_etapd">المبلغ المطلوب</label>
              <input type="text" class="input form-control col-8" disabled name="projet_etapd" value="{{ projet.montant_demande }}" readonly />
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer col-md-12 col-sm-12 text-center">
        <div class="qrcode align-items-center col-md-12 col-sm-12">
          {% qr_from_data  projet_url  size="s" image_format="svg" error_correction="L" %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-md-12 align-items-center">
    <div class="card col-md-12 h-100 align-items-center">
      <h3 class="card-header col-12 text-center"><center>مراحل معالجة الطلب</center></h3>
      <div class="card-body col-md-12">
        <table class="table table-hover col-md-12">
          <thead>
            <tr>
              <th>المرحلة</th>
              <th>تاريخها</th>
              <th>القرار</th>
              <th>تقدم المرحلة</th>
            </tr>
          </thead>
          <tbody>
            {% for etape in projet.suivi.all %}
            <tr>
              <td>{{ etape.etape }}</td>
              <td>{{ etape.date_etap }}</td>
              <td>{{ etape.commentaire }}</td>
              <td>
                <div class="progress">
                    <div class="progress-bar {% if etape.avancement == 100 %}bg-success{% elif etape.avancement < 10 %}bg-danger{% endif %}" role="progressbar" aria-label="Example with label" style="width: {{ etape.avancement }}%;" aria-valuenow="{{ etape.avancement }}" aria-valuemin="0" aria-valuemax="100">{{ etape.avancement }}%</div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row my-2">
  <p class="alert alert-info">المرجو إدخال رقم الطلب في الخانة المخصصة لذلك قبل الضغط على زر البحث. وشكرا</p>
</div>
{% endif %}
{% endif %}
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
/*var btn=document.getElementById("get_dem");
function btnClicked(e){
  let link=document.getElementById("num_dem");
  let numero=document.getElementById("numeroD");
  if (numero.value != "" ){
    link.href = '{% url "f-suivi-agr" %}' + numero.value + '/';
    link.click();
  }
};*/
</script>
{% endblock %}
