{% extends "frontend/index.html" %}
{% load static %}{% load i18n grp_tags %}{% load qr_code %}
{% block title %}خدماتي - COAPH - شهادة الاعاقة{% endblock %}
{% block extrahead %}
<script type="text/javascript">
</script>
{% endblock %}
{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-md-12 align-items-center">
    <div class="card col-md-12 h-100 align-items-center">
        <h3 class="card-header col-md-12 text-center">تتبع طلب شهادة الإعاقة</h3>
      <div class="card-body">
        <div class="card-text">
          <div class="input-group">
            <div class="input-group-text">
                يرجى إدخال رقم الطلب
            <input class="form-control" type="text" name="num_demande" placeholder="رقم الطلب" id="numeroD"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer col-md-12 text-center">
        <button class="btn btn-danger" id="get_dem" onclick="btnClicked()">البحث</button>
        <a id="num_dem" href="{% url 'f-suivi-attestation' %}" class="btn-info" hidden>البحث</a>
      </div>
    </div>
  </div>
</div>
{% if error %}
  <p class="alert alert-danger">لا يوجد أي طلب بهذا الرقم. المرجو تصحيح رقم الطلب</p>
{% else %}
{% if attestation.pk %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-md-12 align-items-center">
    <div class="card col-md-12 h-100">
      <h3 class="card-header text-center"><center>معلومات حول الطلب</center></h3>
      <div class="card-body">
        <div class="card-text">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="attestation_pk" class="form-label">رقم الطلب</label>
              <input type="text" name="attestation_pk" class="input" disabled value="{{ attestation.pk}}" />
            </div>
            <div class="col-md-6">
              <label for="attestation_dated" class="form-label">تاريخ الطلب</label>
              <input type="text" name="attestation_dated" class="input" disabled value="{{ attestation.date_demande}}" />
            </div>
            <div class="col-md-6">
              <label for="attestation_ben" class="form-label">صاحب الطلب</label>
              <input type="text" name="attestation_ben" class="input" disabled value="{{ attestation.beneficiaire.nom_ar }} {{ attestation.beneficiaire.prenom_ar }}" />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="attestation_cin">رقم البطاقة الوطنية</label>
              <input type="text" name="attestation_cin" class="input" disabled value="{{ attestation.beneficiaire.cin}}" />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="attestation_etap">مرحلة الطلب</label>
              <input type="text" class="input" disabled name="attestation_etap" value="{{ attestation.get_etape_demande_display }}" />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="attestation_link">رابط المعاينة</label>
              {% if attestation.pk %}
                <a class="input" href="{% url 'front' %}pdf/{{ attestation.pk }}/" target="_blank">معاينة</a>
              {% endif %}
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="qrcode align-items-center">
            {% qr_from_text "{{ attestation.pk }}{{ attestation.beneficiaire.cin }}" size="t" image_format="svg" error_correction="L" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  <p class="alert alert-info">المرجو إدخال رقم الطلب في الخانة المخصصة لذلك قبل الضغط على زر البحث. وشكرا</p>
{% endif %}
{% endif %}          
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
var btn=document.getElementById("get_dem");
function btnClicked(e){
  let link=document.getElementById("num_dem");
  let numero=document.getElementById("numeroD");
  if (numero.value != "" ){
    link.href = '{% url "f-suivi-attestation" %}' + numero.value + '/';
    link.click();
  }
};
</script>
{% endblock %}
