{% extends "frontend/index.html" %}
{% load static %}{% load l10n %}
{% block extrahead %}
<style>
.scrollview {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
</style>
{% endblock %}
{% block content %}
<div class="row gx-2 gx-lg-5 align-items-center my-5 justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        <div class="card h-100 col-12 shadow">
            <div class="card-header text-center">
                <h4 class="font-weight-light"> البحث عن مركز توجيه ومساعدة الأشخاص في وضعية إعاقة</h4>
            </div>
            <div class="card-body justify-content-between">
                <form class="form row gx-md-4 gx-2" method="get">
                    <div class="col-5">
                        <select class="form-select text-center" name="region" id="region" placeholder="الجهة">
                            <option value="0">الجهة</option>
                            {% for region in regions %}
                                <option value="{{ region.pk }}" {% if region.pk == region_selected %}selected{% endif %}>{{ region.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-5">
                        <select class="form-select text-center" name="province" id="province" placeholder="الإقليم">
                            <option value="0">الإقليم</option>
                            {% for province in provinces %}
                                <option value="{{ province.pk }}" {% if province.pk == province_selected %}selected{% endif %}>{{ province.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-solid fa-magnifying-glass">البحث</i></button>
                    </div>
                </form>
            </div>
            <!--
            <div class="card-footer col-12 text-center">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-solid fa-magnifying-glass"></i></button>
            </div> -->
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5 align-items-center my-5 scrollview">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><i class="fas fa-home"></i> اسم المركز</th>
                    <th><i class="fas fa-phone"></i> رقم الهاتف</th>
                    <th><i class="fas fa-location-dot"></i> العنوان</th>
                    <th><i class="fas fa-map-location"></i> الموقع الجغرافي</th>
                </tr>
            </thead>
            <tbody>
                {% for centre in centres %}
                <tr>
                    <td>{{ centre.nom }}</td>
                    <td>{{ centre.telephone }}</td>
                    <td>{{ centre.adresse }}</td>
                    <td><a href="{% url 'f-centre' pk=centre.pk %}">الموقع الجغرافي</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
{% block extrascripts %}

{% endblock %}
