{% extends "frontend/index.html" %}
{% load static %}{% load l10n %}
{% block extrahead %}
<style>
.scrollview {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
</style>
{% endblock %}
{% block content %}
<div class="row gx-1 gx-lg-5 align-items-center my-5 justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        <div class="card h-100 col-12 col-sm-12 shadow">
            <div class="card-header text-center">
                <h4 class="font-weight-light"> لائحة طلبات دعم المشاريع المدرة للدخل</h4>
            </div>
            <div class="card-body justify-content-between">
                <form class="form row gx-md-4 gx-2" method="get">
                    <div class="col-5">
                        <select class="form-select text-center" name="region" id="region" placeholder="الجهة">
                            <option value="0">الجهة</option>
                            {% for region in regions %}
                                <option value="{{ region.pk }}" {% if region.pk == region_selected %}selected{% endif %}>{{ region.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-5">
                        <select class="form-select text-center" name="province" id="province" placeholder="الإقليم">
                            <option value="0">الإقليم</option>
                            {% for province in provinces %}
                                <option value="{{ province.pk }}" {% if province.pk == province_selected %}selected{% endif %}>{{ province.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-solid fa-magnifying-glass">البحث</i></button>
                    </div>
                </form>
            </div>
            <!--
            <div class="card-footer col-12 text-center">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-solid fa-magnifying-glass"></i></button>
            </div> -->
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5 align-items-center my-5 scrollview">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>رقم الطلب </th>
                    <th>اسم المشروع</th>
                    <th>القطاع</th>
                    <th>المرحلة</th>
                    <th>تاريخ المرحلة</th>
                    <th>المبلغ المطلوب</th>
                    <th>التفاصيل</th>
                </tr>
            </thead>
            <tbody>
                {% for projet in projets %}
                <tr>
                    <td>{{ projet.id }}</td>
                    <td>{{ projet.intitule }}</td>
                    <td>{{ projet.get_secteur_display }}</td>
                    <td>{{ projet.get_etape }}</td>
                    <td>{{ projet.get_etape_date }}</td>
                    <td>{{ projet.montant_demande }}</td>
                    <td><a href="{% url 'f-details-agr' num_demande=projet.pk %}" alt="détails"><i class="fas fa-eye"></i> </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
{% block extrascripts %}
{% endblock %}
